{% extends "global/base.html" %}
{% block title %}SGE - Detalhes do fornecedor {{list.description}}{% endblock title %}
{% block content %}
<div class="container mt-4">
    <h3 class="display-6">Detalhes do fornecedor</h3>
    <div class="card">
        <div class="card-body">
            <h3 class="display-6">{{lists.name}}</h3>
            <p class="lead">
                {{lists.description}}
              </p>
        </div>
    </div>
    <a href="{% url "list_supplier" %}" class="btn btn-secondary mt-3">Voltar para lista de fornecedores</a>
    {% if perms.sge.change_supplier %}
        <a href="{% url "update_supplier" lists.id %}" class="btn btn-warning mt-3">Editar fornecedor</a>
    {% endif %}
</div>

{% endblock content %}