{% extends "global/base.html" %}
{% block title %}SGE - Categoria{% endblock title %}
{% block content %}
{% include "global/components/_menssage.html" %} 
   <div class="container mt-4">
        <p class="display-6">Cadastrar categoria</p>
        <div class="card">
            <div class="card-body">
                <form method="POST" class="form">
                    {% csrf_token %}
                    {{form.as_p}}
                    <a href="{% url "list_category" %}" class="btn btn-secondary">Voltar para lista de categoria</a>
                    <button type="submit" class="btn btn-primary">
                        Salvar registro
                    </button>
                </form>
            </div>
        </div>
   </div>
{% endblock  %}