<div class="row mt-4 justiy-content-center">
    <div class="col-md-6 text-center">
        <h5 class="text-center mb-3">Valor de vendas(Últimos 7 dias)</h5>
        <canvas id="sales_value"></canvas>
    </div>
    
    <div class="col-md-6 text-center">
        <h5 class="text-center mb-3">Quantidade de vendas diárias</h5>
        <canvas id="sales_deily"></canvas>
    </div>

   <div class="mt-4"></div>
    <div class="col-md-6 text-center">
        <h5 class="text-center mb-3">Produtos por categoria</h5>
        <canvas id="category_product"></canvas>
    </div>

    <div class="col-md-6 text-center">
        <h5 class="text-center mb-3">Produtos por marca</h5>
        <canvas id="product_brand"></canvas>
    </div>
  
    <script>
        chartsSales(
            '{{chart_metrics_sales|safe}}',
            '{{chart_metric_daily_sales|safe}}',
            '{{chart_metric_product_category|safe}}',
            '{{chart_metric_product_brand|safe}}'
        )
    </script>
</div>