<div class="card mt-4">
    <div class="card-body">
        <p class="h5">Metricas de vendas</p>
        <div class="mt-4"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h5 class="card-title text-center">Quantidade de vendas</h5>
                        <h5 class="card-title text-center display-6">{{sales_metrics.qtd_sales}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-success">
                    <div class="card-body">
                        <h5 class="card-title text-center">Produtos vendidos</h5>
                        <h5 class="card-title text-center display-6">{{sales_metrics.product_sales}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-danger">
                    <div class="card-body">
                        <h5 class="card-title text-center">Valor das vendas</h5>
                        <h5 class="card-title text-center display-6">{{sales_metrics.sales_value}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-center">Lucro das vendas</h5>
                        <h5 class="card-title text-center display-6">{{sales_metrics.sales_profit}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
