{% extends "global/base.html" %}
{% block title %}SGE - Detalhes da Entrada {{list.description}}{% endblock title %}
{% block content %}
<div class="container mt-4">
    <h3 class="display-6">Detalhes da entrada</h3>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{lists.product}}</h3>
            <p class="card-text"><strong>Fornecedor: </strong> {{lists.supplier}}</p>
            <p class="card-text"><strong>Descrição da entrada: </strong> {{lists.description}}</p>
            <p class="card-text"><strong>Data da entrada: </strong> {{lists.created_at|date:"d/m/Y"}}</p>
            <p class="card-text"><strong>Quantidade: </strong> {{lists.quantily}}</p>
        </div>
    </div>
    <a href="{% url "list_inflow" %}" class="btn btn-secondary mt-3">Voltar para lista de entrda</a>
</div>

{% endblock content %}