#successMessage {
    opacity: 1; /* Inicia invisível */
    transition: opacity 0.5s ease-in-out; /* Transição suave de 0.5s */
}

#successMessage.visible {
    opacity: 1; /* Quando visível, a opacidade é 1 */
}

#successMessage.hidden {
    opacity: 0; /* Quando oculto, a opacidade é 0 */
}



#product-list form:nth-child(2){margin-top: 20px;}
#product-list form:nth-child(2) select:nth-child(1){margin-right: 20px;}
#form-product .row .col:nth-child(1){border: 1px solid #ffff; width: 400em !important;}

#detail-product{ display: inline-flex;flex-wrap: wrap;gap: 12px;}

#detail-product div{width: 35vw;}
#detail-product img{width: 100%; height: auto;}
#remove-filter{margin-left: 12px !important;}
.grafico{width:600px; height: 270px;}
